//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: 100%;
}

body {
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: #fff;
    font-family: "Kanit", sans-serif !important;
}

a,
button {
    border: 0;
    text-decoration: none;
}

/* container */
.container {
    padding: 0 60px;
}

/* section */
.section {
    margin: 80px 0;
}

/* part */
.part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(201, 195, 195);
}

/* section title */
.section_title {
    font-weight: bolder;
    font-size: 35px;
    background-color: #106c97c7;
    padding: 5px;
    color: white;
}

/* header style css */
.header {
    .header_container {
        .header_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 70px 0 20px 0;

            .profil {
                display: flex;
                gap: 30px;
                align-items: center;

                .photo {
                    background: url(../images/pexels-photo-415829.webp) center no-repeat;
                    width: 200px;
                    height: 200px;
                    background-size: cover;
                }

                .profil_description {
                    .name {
                        text-transform: uppercase;
                        font-size: 50px;
                        font-weight: bolder;
                        font-family: "Roboto",
                            sans-serif;
                    }

                    .works {
                        display: flex;
                        justify-content: space-between;
                        font-size: 25px;
                        font-weight: 800;
                    }
                }
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;


                .child {
                    display: flex;
                    gap: 15px;

                    .title {
                        font-size: 25px;
                        font-weight: bolder;
                        color: #c5c6ce;
                    }

                    .element {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/* competences section style css */
.competences-section {
    .competences_container {
        .competences_content {
            // .competences_section_title {}

            .competences {
                display: flex;
                justify-content: space-between;

                .child {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .competence_icon {
                        font-size: 50px;
                    }

                    .competence {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .title {
                            display: flex;
                            flex-direction: column;
                        }

                        .title::after {
                            content: "";
                            width: 100px;
                            padding: 1px;
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}

/* experience section style css */
.experience-section {
    .experience_container {
        .experience_content {
            .experiences {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .child {
                    display: flex;

                    .experience_date {
                        display: flex;
                        font-weight: 600;
                        font-size: 20px;
                    }

                    .experience_date::after {
                        content: "";
                        padding: 1px;
                        height: 100%;
                        background-color: red;
                        margin: 0 20px;
                    }

                    .experience_description {
                        display: flex;
                        flex-direction: column;

                        .contents {
                            display: flex;
                            gap: 50px;
                            font-size: 23px;
                            font-weight: 700;
                        }

                        .note {
                            font-weight: 700;

                            i {
                                color: #c5c6ce;
                            }

                            #star {
                                color: yellow;
                            }

                            span {
                                color: #848588;
                            }


                        }
                    }
                }
            }
        }
    }
}

/* parcours style css */
.parcours-section {
    .parcours_container {
        .parcours_content {
            .parcours {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 50px;


                .child {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .diplome {
                        display: flex;
                        gap: 15px;
                        font-weight: bolder;
                        font-size: 25px;
                        align-items: center;

                        .valid_icon {
                            /*  width: 40px !important;
                            height: 35px !important;
                            border: 1px solid red;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bolder; */
                            font-size: 40px;
                            color: #008f24;
                        }

                        .diplome_date {
                            color: #848588;
                            font-size: 30px;
                        }

                        .diplome_name {}
                    }

                    .diplome_description {}
                }
            }
        }
    }
}

/* divers part styles css */
.divers-section {
    .divers_container {
        .divers_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .aptitudes_part {
                .contents {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .child {
                        .sub_title {
                            font-weight: 700;
                            font-size: 20px;
                        }

                        .level_container {
                            background-color: #c5c6ce;
                            height: 15px;
                            width: 250px;
                            content: "";
                            border-radius: .5rem;

                            .level {
                                content: "";
                                height: 100%;
                                background-color: rgb(0, 0, 0);
                                border-radius: .5rem;
                            }
                        }
                    }

                    :nth-child(1) {
                        .level {
                            content: "";
                            width: 87%;
                        }
                    }

                    :nth-child(2) {
                        .level {
                            content: "";
                            width: 70%;
                        }
                    }

                    :nth-child(3) {
                        .level {
                            content: "";
                            width: 82%;
                        }
                    }

                    :nth-child(4) {
                        .level {
                            content: "";
                            width: 77%;
                        }
                    }

                    :nth-child(5) {
                        .level {
                            width: 52%;
                        }
                    }
                }
            }

            /* divers part styles css */
            .interet_part {
                .contents {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .child {
                        color: white;
                        background-color: rgb(0, 0, 0);
                        padding: 15px 30px;
                        // width: 100%;
                        text-align: center;


                        .description {
                            font-size: 25px;
                            font-weight: bolder;
                        }
                    }
                }
            }

            /* langage style css */
            .language_part {
                .contents {
                    .child {
                        display: flex;
                        gap: 15px;
                        align-items: center;

                        .valide {
                            color: #008f24;
                            font-size: 35px;
                        }

                        .language {
                            font-size: 20px;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }
}


/* responsive style css */
@media(max-width: 420px) {

    body {
        font-size: 15px;
    }

    /* container */
    .container {
        padding: 0 20px !important;
    }

    /* section */
    .section {
        margin: 20px 0;
    }

    .section_title {
        font-weight: bolder;
        font-size: 25px;
    }

    .content {
        gap: 15px;
        padding-bottom: 25px;
    }

    /* header style css */
    .header {
        .header_container {
            .header_content {
                display: flex !important;
                flex-direction: column !important;
                padding: 20px 0 20px 0;

                .profil {
                    display: flex !important;
                    flex-direction: column !important;
                    gap: 30px;

                    .photo {
                        width: 100%;
                    }

                    .profil_description {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 30px;
                        }

                        .works {
                            font-size: 17px;
                            color: #ff1100;
                            font-weight: 600 !important;
                        }
                    }
                }

                .contact {
                    gap: 5px;


                    .child {
                        display: flex;
                        gap: 15px;

                        .title {
                            font-size: 18px;
                        }

                        .element {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    /* divers part styles css */
    .divers-section {
        .divers_container {
            .divers_content {
                display: flex !important;
                flex-direction: column !important;
                gap: 20px;

                /* divers part styles css */
                .interet_part {
                    .contents {
                        .child {
                            padding: 10px 0 !important;
                        }
                    }
                }

            }
        }
    }

    /* experience section style css */
    .experience-section {
        .experience_container {
            .experience_content {
                .experiences {
                    .child {
                        .experience_description {
                            .contents {
                                font-weight: 500 !important;
                                font-size: 17px !important;
                                display: flex;
                                width: fit-content !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 650px) {

    body {
        font-size: 16px;
    }

    /* container */
    .container {
        padding: 0 25px;
    }

    /* section */
    .section {
        margin: 20px 0;
    }

    .section_title {
        font-weight: bolder;
        font-size: 25px;
    }

    .content {
        gap: 15px;
        padding-bottom: 25px;
    }

    /* header style css */
    .header {
        .header_container {
            .header_content {
                display: flex;
                flex-direction: column;
                padding: 20px 0 20px 0;

                .profil {
                    display: flex !important;
                    flex-direction: row;
                    gap: 30px;

                    .photo {
                        width: 100%;
                    }

                    .profil_description {
                        .name {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }

    /* divers part styles css */
    .divers-section {
        .divers_container {
            .divers_content {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 15px;

                /* divers part styles css */
                .interet_part {
                    .contents {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .child {
                            padding: 10px;

                            .description {
                                font-size: 22px;
                            }
                        }
                    }
                }

                /* langage style css */
                .language_part {
                    .contents {
                        .child {
                            display: flex;
                            gap: 15px;
                            align-items: center;

                            .valide {
                                font-size: 30px;
                            }

                            .language {
                                font-size: 20px;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media(max-width: 720px) {

    body {
        font-size: 16px;
    }

    /* container */
    .container {
        padding: 0 35px;
    }

    /* section */
    .section {
        margin: 20px 0;
    }

    .section_title {
        font-weight: bolder;
        font-size: 25px;
    }

    .content {
        gap: 15px;
        padding-bottom: 25px;
    }

    /* header style css */
    .header {
        .header_container {
            .header_content {
                display: flex;
                flex-direction: column;
                padding: 20px 0 20px 0;

                .profil {
                    display: grid;
                    grid-template-columns: repeat(2, 45%);
                    justify-content: space-between;
                    gap: 30px;

                    .photo {
                        width: 100%;
                    }

                    .profil_description {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 30px;
                        }

                        .works {
                            font-size: 16px;
                            color: #ff1100;
                        }
                    }
                }

                .contact {
                    gap: 5px;


                    .child {
                        display: flex;
                        gap: 15px;

                        .title {
                            font-size: 18px;
                        }

                        .element {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    /* competences section style css */
    .competences-section {
        .competences_container {
            .competences_content {
                // .competences_section_title {}

                .competences {
                    display: flex !important;
                    flex-direction: column;
                    gap: 30px;

                    .child {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .competence_icon {
                            font-size: 40px;
                        }

                        .competence {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .title {
                                font-size: 20px;
                            }

                        }
                    }
                }
            }
        }
    }

    /* experience section style css */
    .experience-section {
        .experience_container {
            .experience_content {
                .experiences {
                    display: flex !important;
                    flex-direction: column;
                    gap: 40px;

                    .child {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .experience_date {
                            display: flex;
                            flex-direction: column;
                            font-size: 18px;
                        }

                        .experience_date::after {
                            height: auto;
                            width: auto;
                            background-color: red;
                            margin: 0 0;
                        }

                        .experience_description {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .contents {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                font-size: 20px;
                                color: #000000c7;

                            }
                        }
                    }
                }
            }
        }
    }

    /* parcours style css */
    .parcours-section {
        .parcours_container {
            .parcours_content {
                .parcours {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .child {
                        .diplome {
                            gap: 10px;

                            .valid_icon {
                                font-size: 35px;
                                color: #008f24;
                            }

                            .diplome_date {
                                font-size: 25px;
                            }

                            .diplome_name {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* divers part styles css */
    .divers-section {
        .divers_container {
            .divers_content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                /* divers part styles css */
                .interet_part {
                    .contents {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .child {
                            padding: 10px;

                            .description {
                                font-size: 22px;
                            }
                        }
                    }
                }

                /* langage style css */
                .language_part {
                    .contents {
                        .child {
                            display: flex;
                            gap: 15px;
                            align-items: center;

                            .valide {
                                font-size: 30px;
                            }

                            .language {
                                font-size: 20px;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 850px) {

    body {
        font-size: 16px;
    }

    /* container */
    .container {
        padding: 0 35px;
    }

    /* section */
    .section {
        margin: 20px 0;
    }

    .section_title {
        font-weight: bolder;
        font-size: 25px;
    }

    .content {
        gap: 15px;
        padding-bottom: 25px;
    }

    /* header style css */
    .header {
        .header_container {
            .header_content {
                display: flex;
                flex-direction: column;
                padding: 20px 0 20px 0;

                .profil {
                    display: grid;
                    grid-template-columns: repeat(2, 45%);
                    justify-content: space-between;
                    gap: 30px;

                    .photo {
                        width: 100%;
                    }

                    .profil_description {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 30px;
                        }

                        .works {
                            font-size: 16px;
                            color: #ff1100;
                        }
                    }
                }

                .contact {
                    gap: 5px;


                    .child {
                        display: flex;
                        gap: 15px;

                        .title {
                            font-size: 18px;
                        }

                        .element {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    /* competences section style css */
    .competences-section {
        .competences_container {
            .competences_content {
                // .competences_section_title {}

                .competences {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 10px;

                    .child {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .competence_icon {
                            font-size: 40px;
                        }

                        .competence {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .title {
                                font-size: 20px;
                            }

                        }
                    }
                }
            }
        }
    }

    /* experience section style css */
    .experience-section {
        .experience_container {
            .experience_content {
                .experiences {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 40px;

                    .child {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .experience_date {
                            display: flex;
                            flex-direction: column;
                            font-size: 18px;
                        }

                        .experience_date::after {
                            height: auto;
                            width: auto;
                            background-color: red;
                            margin: 0 0;
                        }

                        .experience_description {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .contents {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                font-size: 20px;
                                color: #000000c7;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    /* parcours style css */
    .parcours-section {
        .parcours_container {
            .parcours_content {
                .parcours {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .child {
                        .diplome {
                            gap: 10px;

                            .valid_icon {
                                font-size: 35px;
                                color: #008f24;
                            }

                            .diplome_date {
                                font-size: 25px;
                            }

                            .diplome_name {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* divers part styles css */
    .divers-section {
        .divers_container {
            .divers_content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 50px;

                /* divers part styles css */
                .interet_part {
                    .contents {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .child {
                            padding: 10px;

                            .description {
                                font-size: 22px;
                            }
                        }
                    }
                }

                /* langage style css */
                .language_part {
                    .contents {
                        .child {
                            display: flex;
                            gap: 15px;
                            align-items: center;

                            .valide {
                                font-size: 30px;
                            }

                            .language {
                                font-size: 20px;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {

    /* header style css */
    .header {
        .header_container {
            .header_content {
                display: flex;
                flex-direction: column;
                padding: 20px 0 20px 0;

                .profil {
                    display: grid;
                    grid-template-columns: repeat(2, 45%);
                    justify-content: space-between;
                    gap: 30px;

                    .photo {
                        width: 100%;
                    }

                    .profil_description {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 27px;
                        }

                        .works {
                            font-size: 16px;
                            color: #ff1100;
                        }
                    }
                }

                .contact {
                    gap: 5px;


                    .child {
                        display: flex;
                        gap: 15px;

                        .title {
                            font-size: 18px;
                        }

                        .element {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
